/* sidebar and topbar */
.border_bottom {
    border-bottom: 3px solid #fc8b05 !important;
  }
  .border_bottom2 {
    border-bottom: 2px solid #fc8b05 !important;
  }
  .border_orange {
    border: 2px solid #fc8b05 !important;
  }
  .text_orange {
    color: #fc8b05 !important;
  }
  .text_merah {
    color: #ba0000 !important;
  }
  .text_biru {
    color: #100b70 !important;
  }
  
  /* bg card */
  
  .bg_merah0 {
    background-color: #ba0000 !important;
  }
  .bg_merah1 {
    background-color: #fc7474 !important;
  }
  .bg_kuning0 {
    background-color: #f1f500 !important;
  }
  .bg_kuning1 {
    background-color: #fafc7c !important;
  }
  .bg_hijau0 {
    background-color: #00ba1d !important;
  }
  .bg_hijau1 {
    background-color: #88f799 !important;
  }
  .bg_biru0 {
    background-color: #100b70 !important;
  }
  .bg_biru1 {
    background-color: #757eff !important;
  }
  .bg_ungu0 {
    background-color: #c400b1 !important;
  }
  .bg_ungu1 {
    background-color: #f788ed !important;
  }
  .bg_orange0 {
    background-color: #fc8b05 !important;
  }
  .bg_orange1 {
    background-color: #facd64 !important;
  }
  .bg_birulaut0 {
    background-color: #04dffc !important;
  }
  .bg_birulaut1 {
    background-color: #7ffaf8 !important;
  }
  .bg_biru2 {
    background-color: #def3ed !important;
  }

  .size12 {
    font-size: 12px;
  }
  